.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    position: sticky;
    z-index: 1100;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 64px;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #fff;
    background-color: #ffbb29;
  }
  
  .link {
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
  }
  
  .link:global(.active) {
    color: #fff;
  }